html {
    background-color: #f1f1f1;
}

 h1 {
    color: orange;
}

header {
    background-color: #FF80FF;
    height: 80px;

    margin-bottom: 10px;
}

main {
    background-color: white;
    height: 500px;
    width: 74.2%;
    margin-right: 2%;
    padding: 20px 10px 10px 10px;

}

body {
    width: 1200px;
    /* elemento centravimas teve. */
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    overflow: hidden;
}

aside {
    background-color: #FF80FF;
    width: 20%;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    margin-left: 2%;
}

footer {
    background-color: white;
    height: 100px;
    width: 100%;

    margin-top: 10px;
}
/* MENU */

nav {
    width: 60%;
}

header li {
    display: inline-block;
    text-transform: uppercase;
    width: 24.5%;

    text-align: center;
    font-size: 18px;
    margin-top: 8px;
}

header ul {
    padding-left: 0;
}


/* END MENU */

input {
    width: 70%;
    border: none;
    background-color: rgb(237, 228, 238);
    height: 30px;
    padding-left: 15px;
}

#Search {
    background-color: none;
    width: 40%;
    margin-top: 27px;
}


.float {
    float: left;
    /* nepamirsti isjungti float */
}

.isjungiu-float {
    clear: both;
}

header button {
    padding: 10px 40px;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
}

/* ===============desktop========================= */

@media (max-width: 1200px) {
    body {
        width: 100%;}


@media (max-width: 1070px)
    header li {font-size: 18px;}
}
