*{
  margin:0;
  padding:0;
}

body{
  background-image: url("../img/background.jpg");
}
.btn {
  background-color: rgba(110, 112, 102, 0.8);
}

input {
  background-color: rgb(218, 221, 226);
}

/* BENDRAS END */
/* NAV */

.navbar img{
  width: 55px;
  height: 55px;
}
.navbar, .footeris{
  background-color: rgba(184, 186, 179, 0.9);
}

.logo img{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* NAV END */

/* INDEX */
.carousel-inner img {
  width: 1349px;
  height: 550px;
}
.carousel-inner{
  border: 4px solid white;
  border-radius: 10px;
}
.apiemus{
  background-color: rgba(126, 134, 135, 0.6);
  border-radius: 10px;
}
.privalumai {
  background-color:rgba(230, 228, 224, 0.8);
  border-radius: 10px;
}
.paslaugos{
  width: 100%;
  background-color: rgb(229, 235, 237);

}
#ikoneles{
  background-color: rgba(229, 235, 237, 0.8);
}
/* INDEX END */


/* GALERIJA */
.img-fluid{
  width: 255px;
  height: 151px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid white;
}
/* GALERIJA BAIGIASI */

/* KONTAKTAI */
.kontaktai{
  margin-top: 50px;
  padding-top: 60px;
  border: 3px solid grey;
  background-color:rgba(245, 241, 244, 0.37);

}
.kontaktai h2,.kontaktai h5{
font-weight: bold;
}
textarea{
  background-color: rgb(218, 221, 226);
}
.siusti{
  background-color: grey;
}

/* KONTAKTAI END */

/* Paslaugos */

.visosPaslaugos{
  background-color: rgba(218, 206, 201, 0.8);
}

/* Paslaugos end */
