body{
  padding-top: 120px;
  background-image: url("../img/background.jpg");
}

.container {
  width: 500px;
  margin: 0 auto;
  background-color: rgba(126, 134, 135, 0.6);
  border-radius: 10px;
  padding: 30px;
}
