.eilute1 {
    color: #FFE4C4;
}
.eilute2 {
    color: #0000FF;
}
.eilute3 {
    color: 	#A52A2A;
}
.eilute4 {
    color: 	#5F9EA0;
}
.eilute5 {
    color: 	#7FFF00;
}
.eilute6 {
    color: 	#00FFFF;
}
.eilute7 {
    color: 	#008B8B;
}
.eilute8 {
    color: 	#B8860B;
}
.eilute9 {
    color: 	#006400;
}
.eilute10 {
    color: 	#8B008B;
}


article {
    border: 2px solid;
}



.sninga1 {
    background-color: red;
}
.sninga2 {
    background-color: #8B0000;
}
.sninga3 {
    background-color: #9932CC;
}
.sninga4 {
    background-color: #FF1493;
}
.sninga5 {
    background-color: #1E90FF;
}
.sninga6 {
    background-color: #FFD700;
}
.sninga7 {
    background-color: #ADFF2F;
}
.sninga8 {
    background-color: #7CFC00;
}
.sninga9 {
    background-color: #D3D3D3;
}
.sninga10 {
    background-color: #9ACD32;
}
