html {background-color: gray;
}
*{box-sizing: border-box;
}
body{width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

 h1 {
    color: orange;
    text-align: center;
}

header {background-color: #FF80FF;
height: 80px;
margin-bottom: 10px;
}
main {background-color: white;
height: 500px;
width: 79%;
margin-right: 1%;
}
aside
{background-color: #FF80FF;
width: 20%;
height: 500px;
}
/* MENIU */
ul{padding-left: 0;}
nav{width: 60%;
    margin-top: 8px;
}
li{display: inline-block;
width: 24.5%;
text-transform: uppercase;
text-align: center;
font-size: 30px;}
/* end menu */

#paieska{width: 40%;
    background-color: orange;
    margin-top: 27px;
}
input{
    width: 70%;
    border: none;
    background-color: rgb(246, 242, 244);
    height: 30px;
    padding-left: 15px;
    
}
.floutas{float: left;
}

.nofloat{clear: both;
    }
    footer{background-color: white;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
