* {
    box-sizing: border-box;
}
/* ==============smegenys======================= */

html {
    background-color: #A9A9A9;
}

body {
    background-color: #ADFF2F;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 80px;
    margin-bottom: 10px;

/* =====================heading=================== */

}

h1 {
    text-align: center;
}

/* ===================meniu======================== */

nav {
    background-color: #FF8C00;
    width: 60%;
    margin-top: 8px;

}

ul {
    list-style: none;
    padding-left: 0;



/* ==================paieska ir mygtukas============== */

input {
    background-color: rgb(216, 241, 234);
    width: 70%;
    border: none;
    height: 30px;
    padding-left: 15px;
}

header button {
    padding: 6px 40px;
    border: none;
    color: #000;
}

/* ===========pagrindinis blokas================ */



#wrapper {
    background-color: #00FA9A;

    height: 500px;
    width: 100%;
}

main {
    background-color: white;
    height: 500px;
    width: 78%;

}

aside {
    background-color: #FF80FF;
    height: 500px;
    width: 20%;
    margin-left: 2%;

}

footer {
    background-color: white;
    height: 100px;
    width: 100%;

    margin-top: 15px;
}

/* ================================================= */



/* ====================classai==================== */

.float {
    float: left;
}

.isjungiu-float {
    clear: both;
}

.mygtukai {
    width: 25%;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration-style: none;

}
