h1 {
  color: red;
}

/* pseudo elementai */
h3::before {
  content: "";
  display:block;
  color:green;
  background-color: #ff00c9;
  background-image: url(../img/sofa.jpg);
  height: 30px;
  width: 30px;
  display: inline-block;
  background-size: cover;
  background-repeat:no-repeat;
}

h3::selection {
  color: pink;
  background-color: yellow;
}
