* {
    box-sizing: border-box;
}
/* IDEA: prasideda programavimas normalus */
html {
    background: -webkit-linear-gradient(top, #e4f5fc 0%,#bfe8f9 33%,#9fd8ef 67%,#9fd8ef 67%,#2ab0ed 100%); /* Chrome10-25,Safari5.1-6 */
}
body {
    width: 1200px;
    /* IDEA: iscentruoti elementa */
    margin-left: auto;
    margin-right: auto;
}
h1 {
color: white;
text-align: center;
text-shadow: 2px 2px 2px black;
font-family: 'Lobster', cursive;
}

h2 {
 text-align: center;
 font-family: 'Lobster', cursive;
}

h3 {
        font-family: 'Lobster', cursive;
}

header {
    background-color: rgb(149, 56, 123);
    height: 80px;

    margin-bottom: 10px;
}

main {
    background-color: white;
    width: 78%;
    margin-right: 2%;
    padding: 20px 10px 10px 10px;

}

.wrapper {
    overflow: hidden;
}
aside {
    background-color: rgb(149, 56, 123);
    width: 20%;
    /* IDEA: automatinis aukscio apskaiciavimas
    Nuimti height!!  */
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    /* IDEA: proteviui/teciui uzdeti overflow: hidden; */

}
footer {
    background-color: white;
    height: 100px;
    width: 100%;

    margin-top: 10px;
}
/* IDEA: meniu */

nav {
    width:60%;
    margin-top: 8px;
}
#paieska {
    width:40%;

}

nav li {
    width: 25%;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
}
input {
    width: 70%;
    border: none;
    background-color: rgb(216, 210, 232);
    height: 30px;
    margin-top: 25px;
    padding-left: 2px;

}
/* IDEA: button dizainas
mygtukams nenaudojam paveiksliuku, nes nuotraka reikia atsiusti, suleteja.  */
header button {
    padding: 8px 40px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 10px;
}



/* IDEA: END meniu */

aside ul {
    margin-left: auto;
    margin-right: auto;
}

aside li {
    color: blue;
    text-decoration: underline;
    padding-bottom: 13px;
        padding-top: 13px;
        padding-right: 23px;
        list-style-type: color:black;
}


.uzdedu-float {
    float: left;
}
.isjungiu-float {
    clear: both;
}
/* IDEA: desctop */
@media (max-width: 1200px) {
    body {
        width: 100%;

    }
    nav li {
        font-size: 18px;
    }
}
@media (max-width: 800px) {
    #paieska {
        display: none;
    }
    nav{
        /* width: 100%; */
    }
}
