* {box-sizing: border-box;}
/*===============  */

h2 {position: absolute;
right: 90px;
top: 20px;

}
article {padding: 50px;}



article {
    border: solid 2px #a1a1a1;
    width: 30%;
    float: left;
    background-color: gray;
    margin-left: 2.5%;
    position: relative;
}
.paskutinis{margin-right: 2.5%;}
.isjungiu-float {
    clear: both;
}
