h1 {
    color: red;
}

.aukstis-100 {
    height: 100px;
}

.aukstis-200 {
    height: 200px;
}

.aukstis-300 {
    height: 300px;
}

.aukstis-400 {
    height: 400px;
}

.aukstis-500 {
    height: 500px;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.raidziuSpalva {
    color: black;
}

.nopading {
    padding: 0;
}

.spalvaBG {
    background-color: #FFEF01;
}

body {
    background-image: image("img/01.jpg");
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    }
