h1 {
    color: red;
}

.aukstis-100 {
    height: 100px;
}

.aukstis-200 {
    height: 200px;
}

.aukstis-300 {
    height: 300px;
}

.aukstis-400 {
    height: 400px;
}

.aukstis-500 {
    height: 500px;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.raidziuSpalva {
    color: black;
}

.nopading {
    padding: 0;
}
<<<<<<< HEAD
=======

<<<<<<< HEAD
.bgImg {
    background-image: url(../img/1.jpg);
}
=======
.spalvaBG {
    background-color: #FFEF01;
}

body {
    background-image: image("img/01.jpg");
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    }
<<<<<<< HEAD
>>>>>>> e48e9365d632969bd7a5d11818f1aa3eb77dd89a
=======
>>>>>>> 070a381d113356d2ae82f6b6c0b2320f7df162d2
>>>>>>> 95f655dd6d30fc45a1f93bd04afa3110f1bf33a8
