h1{
 color:red;
}
.aukstis-50{
  height: 50px;
}
.aukstis-120{
height: 120px;
}
.aukstis-200{
height: 200px;
}
.aukstis-300{
height: 300px;
}
.aukstis-354{
height: 354px;
}
.aukstis-350{
height: 350px;
}
.aukstis-500{
height: 500px;
}
.tarpas{
  padding: 0px 0px 0px 5px;
}
