html body h1  {
    color: red;
    background-color: black;
}



#pirmas {
    color: blue;
}

.didelis-tekstas {
    font-size: 50px;
}

h4.rozinis {
    background-color: pink;
}

}

body h1,
h2,
h3 {
    font-weight: 100;
    color: pink;
}

div h4 {
    background-color: green;
}


/* komentaras */
