/* IDEA: remeli iskaiciuoja i ploti border-box visame faile */
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    border: solid 2px black;
    /* IDEA: elemento padejimas i kampa */
    /* IDEA: right, left, top, botom veikia tik su postion: absolute ar relitive */
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
    border-top: 0;
    border-right: 0;
    /* IDEA: proteviui uzdeti postion relitive */
}

article {
    width: 30%;
    float: left;
    border: solid 2px black;
    background-color: grey;
    margin-left: 2.5%;
    position: relative;
    /* IDEA: galima naudoti taip
    article {
    padding-top: 50px;
    } */
}

p {
    margin-top: 50px;
}

.chicken {
    background-color: pink;

}

.beef {
    background-color: red;
    color: white;
}

.Sushi {
    background-color: tan;
}

.paskutinis {
    margin-right: 2.5%;
}

.isjungiu-float {
    clear: both;
}
