* {
    box-sizing: border-box;
}

h2 {
/*elemento padejimas i kampa  */
    position: absolute;
    right: 0;
    top: 0x;
    /*teciui/proteviui uzdeti position:relative  */
}

h2 {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 0px;
    padding-bottom: 5px;
    padding: 20px 50px;

    margin-top: 0;
    margin: 0;
    border-bottom: solid 2px #a1a1a1;
    border-left: solid 2px #a1a1a1;}

p {margin-top: 50px}

article {margin-top: 70px;}

article {
    border: solid 2px #a1a1a1;
    background-color: grey;
    width: 30%;
    float: left;
    margin-left: 2.5%;
    position: relative;
}

.isjungiu-float {
    clear: both;
}

.fonas-indigo {
    background-color: indigo;
}
.fonas-pink {
    background-color: pink;
}
.fonas-yellow {
    background-color: yellow;
}

.plotis-30 {
    width: 30%;
}

.lygiavimas {
    text-align: center;
}

.desine {
    text-align: right;
}

.paskutinis {
    margin-right: 2.5%;
}

article: {
    padding: : 50px
}
