* {
  box-sizing: border-box;
}

 h1 {
    color: black;
    text-align: center;
  }
/*elemento padėjimas į kampą* rigth, lext, top, bottom- veikia tik su absolute/relative, protėviui uždėti position:relative*/

h2 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 5px 10px 10px 76px;


  }

p {
  margin-top: 55px;
  padding: 10px 10px 10px 10px;
  text-align: justify;
}

.fonas-grey {
  background-color: grey;
}

.eiluteje {
  display: inline-block;
}

.chicken {
  background-color: orange;
  border-left: 2px solid #A1A1A1;
  border-bottom: 2px solid #A1A1A1;


}

.beef {
  background-color: red;
  border-left: 2px solid #A1A1A1;
  border-bottom: 2px solid #A1A1A1;
  color: white;

}

.sushi {
  background-color: green;
  border-left: 2px solid #A1A1A1;
  border-bottom: 2px solid #A1A1A1;

}

article {
  width: 30%;
  border: 2px solid #A1A1A1;
  float: left;
  margin-left: 2.5%;
  position: relative;
}

.isjungiu-float {
  clear:both;
}

.paskutinis {
  margin-right: 2.5%;
}
