* {
  box-sizing: border-box;
}

/* navigacija */

nav ul a {
  color: rgb(51, 250, 16);
  margin-right: 10 px solid rgb(228, 31, 17);
}

nav ul a:hover {
  color: rgb(243, 121, 7);
  text-decoration: underline;
  border-bottom: 2px solid rgb(228, 31, 17);
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
}

.navbar-brand img.resize {
  width: 10000000000px;
  height: auto;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #F05F40;
  }
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  background-color: #FFFFFF;
}

/* headeris */

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.v-header .header-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.header-content .btn {
  background: #34b3a0;
  opacity: 0.5;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

@media(max-width:960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

/* mainas */

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette .btn {
  color: #282C34;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

.featurette p {
  text-align: justify;
}

#first {
  padding-top: 200px;
  padding-bottom: 30px;
}

.info-box {
  min-height: 50px;
  text-align: center;
}

.info-box .article-text {
  padding: 0px 50px;
}

.info-box {
  min-height: 50px;
  text-align: center;
}

#googlemaps iframe {
  width: 100%;
  display: block;
}

/* footeris */

footer {
  padding-top: 60px;
  background: #000;
  color: #fff;
  padding-bottom: 60px;
}

.social-bar {
  margin-bottom: 30px;
}

.social-bar a {
  color: #fff;
  font-size: 49px;
  margin-left: 15px;
  margin-right: 15px;
}

/* nauji darbai */

#background-image {
  height: 500px;
}

#footer {
  margin-top: 50px;
  background-color: #0F0F0F;
  color: #FFFFFF;
}

#images {
  height: 200px;
  width: 100%;
}

img.details {
  width: auto;
  margin: 15px auto;
  height: 300px;
}

.parallax {
  background-image: url("../img/rain.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #373737;
}

.row-ground {
  padding-top: 20px;
  padding-bottom: 30px;
}

.cart-buttons .cart {
  margin-left: 18px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

.cart-buttons {
  margin-top: 5%;
}

.modal-content {
  animation-name: modalopen;
  animation-duration: 3s;
}

@keyframes modalopen {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.products {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* coment */
