* {
  box-sizing: border-box;
}
/* ================================ */

html {
  background-color: #a9a9a9;
}
 h1 {
    color: orange;
    text-align: center;
}
nav li{
  font-family: 'Skranji', cursive;
  display:inline-block;
  text-transform: uppercase;
  padding: 1.8%;
  width: 24.5%;
  font-size: 20px;
}

body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: #FF80FF;
  height: 80px;
  margin-bottom: 20px;
}
main {
  background-color: white;
  /* height: 500px; */
  width: 78%;
  margin-right: 2%;
}
aside {
  background-color: #FF80FF;

  width: 20%;
  margin-bottom: -10000px;
  padding-bottom: 10000px;
}
footer{
  background-color: white;
  height: 100px;
  width: 100%;
  margin-top: 15px;
}
/* meniu */
nav{
  width: 70%;
  height: 80px;
}
header div{
  width: 30%;
  height: 80px;
}
input{
    width: 60%;
    height: 35px;
    border: none;
    background-color: rgb(226, 230, 224);
    padding-left: 15px;
  }
button{
    background-color: black;
    color: white;
    width: 20%;
    height: 35px;
    margin-top: 28px;
    border: none;
}
 form{
  width: 100%;
  height: 80px;
}
.tekstas{
  padding-top: 30px;
  padding-left: 25px;
}
.tekstas h2{
  font-family: 'Skranji', cursive;
  text-align: center;
}
.tekstas h3{
  font-family: 'Skranji', cursive;
}
.wrapper{
  overflow: hidden;
}
/* END meniu */
.uzdedu-float{
  float: left;
}
.isjungiu-float{
  clear: both;
}
@media (max-widht: 1200px) {
  body{
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 560px) {
  #paieska{
    display: none;
  }

}
