
.tekstas1 {
  margin-top: 120px;
  float: left;
  border: 1px;

}
.tekstas2 {
  margin-top: 240px;
  float: : right;

}

.tekstas3 {
  height: 200px;
  text-decoration-color: red;

}
aukstis1 {
  height: 500px;
}
