div {
    height: 100px;
}

.plotis-30 {
    width: 30%;
}
.fonas-green {
    background-color: green;
}
.fonas-blue {
    background-color: blue;
}
.fonas-pink {
    background-color: pink;
}

.eiluteje {
    display: inline-block;
}


div {
    height: 100px;
}

.plotis-90 {
    width: 90.5%;
}

.fonas-indigo {
    background-color: indigo;
}

div {
    height: 100px;
}

.plotis-45 {
    width: 45.12%;
}
