article{
  border: solid 2px #333;
}
.sninga1 {
  background-color: orange;
}
.sninga {
  color: green;
}
.lyja1 {
  background-color: pink;
}
.lyja {
  background-color: yellow;
}
.saule {
  background-color: blue;
}
.saule1 {
  background-color: green;
}
.menulis {
  background-color: red;
}
.menulis1 {
  color: blue;
}
.dangus {
  background-color: yellow;
}
.debesys {
  background-color: red;
}
.zeme {
background-color: purple;
}
.lietus {
  background-color: green;
}
.zaibas {
  background-color: lightblue;
}
.griaustinis {
  background-color: red;
}
.griaustinis1 {
  background-color: purple;
}
