* {
  box-sizing: border-box;
}

.chicken {
  background-color: pink;
}

.beef {
  background-color: red;
}

.sushi {
  background-color: yellow;
}

.fonas-pilkas {
  background-color: grey;
}

.eiluteje {
  display: inline-block;
}

h2 {
  position: absolute;
  right: 90px;
  top: 20px;
  padding-left: 38px;
  padding-right: 38;
  padding-top: 5 px;
  padding-bottom: 5px;
}
article {
  width: 30%
float: left;
  border: solid 2px #a1a1a1;

  margin-left: 2.5%;
}

.isjungiu-float {
  clear: both;
}

{
  margin-right: 2.5%;
}
