
 a {
    color: #A0CE4E;
    text-shadow: 3px 3px 6px black;
    font-weight: bold;
    font-family: 'Kavoon', cursive;
    font-size: 25px;
    height: 100px;
    display: block;
    padding: 16px;
    text-decoration: none;
}
a:hover {
    color: white;
}

.spalvaNav{
background-color: yellow;
}

img {
    height: 90px;
}

body {
background: url("../img/01.jpg");
background-size: cover;
background-repeat: no-repeat;
}
