* {
    box-sizing: border-box;
}
/* ====================== */
html {
    background-color: #e1e1e1;
}
body {
    width: 1200px;
    /* elemento centravimas */
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3 {
    font-family: 'Libre Barcode 39', cursive;
}
 h1 {
    color: orange;
}
header {
    background-color: #FF80FF;
    height: 80px;
    margin-bottom: 10px;
}
main {
    background-color: white;

    width: 78%;
    margin-right: 2%;
    padding: 20px 10px 10px 10px;
    padding: 20px 10px 10px;
}
.wrapper {
    overflow: hidden;
}
aside {
    background-color: #FF80FF;

    width: 20%;
    /* automatinis aukscio apskaiciavimas */
    /* !! 1. nuimti height */
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    /* 2. teciui/proteviui uzdeti overflow: hidden; */
}
footer {
    background-color: white;
    height: 100px;
    width: 100%;

    margin-top: 10px;
}
/* ------meniu--------- */
nav {
    width: 60%;
    margin-top: 8px;
}
header li {
    display: inline-block;
    text-transform: uppercase;
    width: 24.5%;
    text-align: center;
    font-size: 30px;
}
header ul {
    padding-left: 0;
}
/* -----END meniu----- */
input {
    width: 70%;
    border: none;
    background-color: #fefefe;
    height: 30px;
    padding-left: 15px;
}

#apieska {
    margin-top: 27px;
    background-color: orange;
    width: 40%;
}

.uzdedu-float {
    float: left;
    /* !!! nepamirsti isjungti  */
}
/* .clear  .clear-both .fix-float */
.isjungiu-float {
    clear: both;
}
header button {
    padding: 8px 30px;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
}





/* =========desctop====nuo 0 iki 1200px======== */
@media (max-width: 1200px) {
    body {
        width: 100%;
    }
}
@media (max-width: 1070px) {
    header li {
        font-size: 18px;
    }
}
@media (max-width: 800px) {
    #paieska {
        display: none;
    }
}
@media (max-width: 560px) {
    #paieska {
        display: block;
    }
}
