* {
    box-sizing: border-box;
}
/* ====================== */
html {
    background-color: #e1e1e1;
}
body {
    width: 1200px;
    /* elemento centravimas */
    margin-left: auto;
    margin-right: auto;
}
 h1 {
    color: orange;
}
header {
    background-color: #FF80FF;
    height: 80px;
    margin-bottom: 10px;
}
main {
    background-color: white;
    height: 500px;
    width: 78%;
    margin-right: 2%;
}
aside {
    background-color: #FF80FF;
    height: 500px;
    width: 20%;
}
footer {
    background-color: white;
    height: 100px;
    width: 100%;

    margin-top: 10px;
}
/* ------meniu--------- */
nav {
    width: 60%;
    margin-top: 8px;
}
li {
    display: inline-block;
    text-transform: uppercase;
    width: 24.5%;
    text-align: center;
    font-size: 30px;
}
ul {
    padding-left: 0;
}
/* -----END meniu----- */
input {
    width: 70%;
    border: none;
    background-color: #fefefe;
    height: 30px;
    padding-left: 15px;
}

#apieska {
    margin-top: 27px;
    background-color: orange;
    width: 40%;
}

.uzdedu-float {
    float: left;
    /* !!! nepamirsti isjungti  */
}
/* .clear  .clear-both .fix-float */
.isjungiu-float {
    clear: both;
}




/*  */
