* {
    /*   remeli iskaiciuoja i ploti   */
    box-sizing: border-box;
}
/* ====================  */
h1 {
    color: orange;
    text-align: center;
}
h2 {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 0;
    margin: 0;
    border-bottom: solid 2px #a1a1a1;
    border-left: solid 2px #a1a1a1;
    /* elemento padejimas i kampa */
    position: absolute;
    /*     right, left, bottom, top
    !!!! VEIKIA TIK SU  position: absolute/ reletive */
    right: 0;
    top:   0;
    /*   !!! proteviui/teciui uzdeti position: reletive */
}
/* p {
    margin-top: 50px;
} */
article {
    padding: 50px 15px 10px 15px;
    text-align: justify;
}
article {
    border: solid 2px #a1a1a1;
    background-color: grey;
    width: 30%;
    float: left;
    /* !!! nepamirsti isjungti float */

    margin-left: 2.5%;
    position: relative;
}
.isjungiu-float {
    clear: both;
}
.paskutinis {
    margin-right: 2.5%;
}

/* ---------for tablet----------------- */
/*  ---------nuo 0 iki 768px-----------*/

@media (max-width: 768px) {
article {
    width: 46%;
  }
    {
      .paskutinis {
        width: 95%;
      }
    }


}
  /* nepamirsti uzdaryti skliaustelio */
















/*  */
